/package-lock.json

# GENERATED teseract gitignore
/node_modules
/dist
tsconfig.json
.eslintrc.json
.vscode/settings.json
.vscode/extensions.json
.vscode/launch.json
# END GENERATED teseract gitignore