/package-lock.json


# GENERATED teseract gitignore
/node_modules
/dist
tsconfig.json
.eslintrc.json
.prettierrc.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
# END GENERATED teseract gitignore